@import '/src/styles/animations.css';
.container{
    opacity: 0;
    flex-grow: 1; /* Se expandirá hasta ocupar todo el espacio posible */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: show 1s ease-in-out forwards;
    & h1{
        font-family: var(--font-primary);
        font-weight: 700;
        font-size: 2rem;
    }
    & p{
        font-family: var(--font-primary);
        font-weight: 400;
        font-size: 1rem;
        color: var(--secondary-color);
        text-align: center;
    }
}