.container {
    background-color: transparent;
    font-family: var(--li-font);
    font-size: var(--li-font-size);
    font-weight: var(--li-font-weight);
    height: var(--li-height);
    width: 100%;
    padding: .375rem .75rem;
    /* 6px 12px */
    box-sizing: border-box;
    border-radius: .5rem;
    /* 8px */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: .5rem;
    /* 8px */
    align-items: center;
    margin-bottom: 2px;


    & a {
        text-decoration: none;
        color: var(--li-color);
    }

    & img {
        height: 1.125rem;
        /* 18px */
    }

    & p {
        min-width: 2.25rem;
        /* 36px */
        font-size: .75rem;
        /* 12px */
        font-weight: 500;
        box-sizing: border-box;
        padding: .375rem;
        /* 6px */
        border-radius: .25rem;
        /* 4px */
        color: var(--li-color);
        margin-left: auto;
        background-color: var(--li-bg-active);
        filter: drop-shadow(0px 1px 3px rgba(25, 33, 61, 0.10));
    }

    & h3 {
        font-size: .75rem;
        /* 12px */

        &.title {
            color: var(--li-color-h3-title);
            text-transform: uppercase;
            font-weight: 500;
        }

        &.chat {
            color: var(--li-color-h3-chat);
            font-weight: 400;
        }
    }
}

.active {
    background-color: var(--li-bg-active);
    filter: drop-shadow(0px 1px 3px rgba(25, 33, 61, 0.10));
}